Question 1 : Explain the fundamental differences between DDL, DML, and DQL
commands in SQL. Provide one example for each type of command.

Answer :

In SQL, commands are divided into different categories based on the type of operation they perform on a database. DDL, DML, and DQL are three important categories.

1.DDL (Data Definition Language)

Purpose:
DDL commands are used to define, create, modify, or delete the structure of database objects such as tables, databases, views, etc.

Key Characteristics:

- Changes the structure (schema) of the database

- Operations are permanent

- Automatically commits changes

Common DDL Commands:
CREATE, ALTER, DROP, TRUNCATE

Example:

CREATE TABLE Student (
    StudentID INT,
    Name VARCHAR(50),
    Age INT
);


➡ This command creates a new table named Student.

2.DML (Data Manipulation Language)

Purpose:
DML commands are used to insert, update, or delete data inside database tables.

Key Characteristics:

- Works on data, not structure

- Changes can be rolled back

- Requires explicit COMMIT

Common DML Commands:
INSERT, UPDATE, DELETE

Example:

INSERT INTO Student (StudentID, Name, Age)
VALUES (1, 'Yash', 20);


➡ This command inserts a new record into the Student table.

3.DQL (Data Query Language)

Purpose:
DQL commands are used to retrieve data from the database.

Key Characteristics:

- Used only for fetching data

- Does not modify the database

- Most commonly used command in SQL

Common DQL Command:
SELECT

SELECT Name, Age FROM Student;

Question 2 : What is the purpose of SQL constraints? Name and describe three common types
of constraints, providing a simple scenario where each would be useful.
Answer :

Purpose of SQL Constraints

SQL constraints are used to control data and prevent wrong values from being stored in a table.

Three Common SQL Constraints

NOT NULL

→ Does not allow empty values.
Example: Roll number cannot be empty.

UNIQUE

→ Does not allow duplicate values.
Example: Email ID must be different for each student.

PRIMARY KEY

→ Uniquely identifies each record (NOT NULL + UNIQUE).
Example: Student ID identifies each student.

Question 3 : Explain the difference between LIMIT and OFFSET clauses in SQL. How
would you use them together to retrieve the third page of results, assuming each page
has 10 records?
Answer :

LIMIT Clause

- LIMIT is used to restrict the number of records returned by a query.

OFFSET Clause

- OFFSET is used to skip a specific number of records before starting to return rows.

Difference Between LIMIT and OFFSET


Using LIMIT and OFFSET Together (3rd Page Example)

- Each page = 10 records

- Page number = 3

- Records to skip = (3 − 1) × 10 = 20

SELECT * FROM Student
LIMIT 10 OFFSET 20;


➡ This query skips first 20 records and shows next 10 records, which is the 3rd page.

Conclusion

LIMIT controls how many rows, and OFFSET controls from where to start.

Question 4 : What is a Common Table Expression (CTE) in SQL, and what are its main
benefits? Provide a simple SQL example demonstrating its usage.
Answer :

A CTE is a temporary result set that is created using the WITH keyword and can be used inside a SELECT, INSERT, UPDATE, or DELETE query.

It exists only during the execution of the query.


Main Benefits of CTE

- Makes queries easy to read

- Improves query clarity

- Helps avoid complex subqueries

- Can be reused within the same query

Simple Example of CTE


WITH StudentCTE AS (
    SELECT Name, Marks
    FROM Student
    WHERE Marks > 60
)

SELECT * FROM StudentCTE;


➡ This CTE stores students with marks greater than 60 and then displays them.

Conclusion

CTE helps write clean, readable, and organized SQL queries.

Question 5 : Describe the concept of SQL Normalization and its primary goals. Briefly
explain the first three normal forms (1NF, 2NF, 3NF).
Answer :

SQL Normalization is the process of organizing data in database tables to remove duplication and reduce data inconsistency.

Primary Goals of Normalization
- Reduce data redundancy
- Improve data consistency
- Avoid insert, update, and delete anomalies
- Make database well structured

First Three Normal Forms
1.First Normal Form (1NF)

- Each column should contain atomic (single) values

- No repeating groups or multi-valued fields

Example:
A phone number column should store one number only, not multiple numbers.

2.Second Normal Form (2NF)

- Table must be in 1NF
- No partial dependency
(Non-key columns depend on full primary key)

Example:
Student name should depend on StudentID, not only part of a key.

3.Third Normal Form (3NF)

- Table must be in 2NF
- No transitive dependency
(Non-key columns should not depend on other non-key columns)

Example:
Department name should not depend on student name.

Conclusion

Normalization helps create a clean, efficient, and reliable database.